<div style="width: 80%; height: 700px; margin: 0 auto;">
    <div style="float: left; width: 26%; border: 1px solid red; height: 700px;">
        <h2></h2>
        <p></p>
    </div>
    <div style="float: left; width: 26%; border: 1px solid red; height: 700px; margin-left: 20px;">
        <h2></h2>
        <p></p>
    </div>
    <div style="float: left; width: 26%; border: 1px solid red; height: 700px; margin-left: 20px;">
    <div style=" width: auto; border: 1px solid green; height: 350px;">
        <h2></h2>
        <p></p>
    </div>
    <div style="width: auto; border: 1px solid green; height: 340px; margin-top: 8px;">
        <h2></h2>
        <p></p>
    </div>
    </div>
</div>