<div class="w-full">
  <div class="flex flex-col lg:flex-row justify-between">
    <div class="footer-col flex-1 lg:mx-4">
      <h1 class="text-xl my-2"></h1>
      <div>
      </div>
    </div>
  </div>
  <hr class="border-b">
  <div class="flex items-center flex-wrap justify-between">
    <p class="my-3">
    </p>
    <div class="flex justify-center -m-1">
      <a class="m-1" href="">
        <svg class="fill-current" viewBox="0 0 24 24" style="width: 25px;">
          <use></use>
        </svg>
      </a>
      <a class="m-1" href=""></a>
      <a class="m-1" href=""></a>
    </div>
  </div>
</div>